@model IEnumerable<HotelHub.Models.OrderHeader>

@{
    ViewData["Title"] = "Index";
}
<div class="row p-3">
    <div class="col-6">
        <h2 class="text-primary">List of Orders</h2>
    </div>
    <div class="col-6">
        <a asp-controller="orders" asp-action="Index" asp-route-status="pending">
            Pending
        </a>
        <a asp-controller="orders" asp-action="Index" asp-route-status="approved">
            Approved
        </a>
        <a asp-controller="orders" asp-action="Index" asp-route-status="underprocess">
            Under Process
        </a>
        <a asp-controller="orders" asp-action="Index" asp-route-status="shipped">
            Shipped
        </a>
        <a asp-controller="orders" asp-action="Index" asp-route-status="all">
            All
        </a>
    </div>


</div>

<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>          
           
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>           
           
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            
            <td>

                    @Html.ActionLink("Details", "OrderDetails", new { id=item.Id  }) |
                   
                   
            </td>
        </tr>
}
    </tbody>
</table>
